<div class="tabs-x align-center tabs-above tab-bordered">
    <ul class="nav nav-tabs mr-auto" role="tablist">
        <li class="nav-item">
            <a class="nav-link active show" id="{{value}}PieChartTab" role="tab" data-toggle="tab" href="#{{value}}PieChart" data-target="#{{value}}PieChart">Pie Chart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="{{value}}BarChartTab" role="tab" data-toggle="tab" href="#{{value}}BarChart" data-target="#{{value}}BarChart">Bar Chart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="{{value}}TimeLineChartTab" role="tab" data-toggle="tab" href="#{{value}}TimeLineChart" data-target="#{{value}}TimeLineChart">Timeline</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="{{value}}PieChart" class="container tab-pane fade show active" aria-labelledby="{{value}}PieChartTab"><br>
            <div class="chart-container">
                <canvas id="{{value}}PieChartCanvas"></canvas>
            </div>
        </div>
        <div id="{{value}}BarChart" class="container tab-pane fade" aria-labelledby="{{value}}BarChartTab"><br>
            <div class="chart-container">
                <canvas id="{{value}}BarChartCanvas"></canvas>
            </div>
        </div>
        <div id="{{value}}TimeLineChart" class="container tab-pane fade" aria-labelledby="{{value}}TimeLineChartTab"><br>
            <div class="chart-container">
                <canvas id="{{value}}TimeLineChartCanvas"></canvas>
            </div>
        </div>
    </div>
</div>
