{{#partial "content"}}

<div class="row">
    <div class="col-md-8 mb-1">
        <div class="visualisation-boards">
            <ul class="nav nav-tabs mr-auto d-none" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab"
                       href="#default">Default Tab</a>
                </li>
                {{#each hashtagResultsList}}
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab"
                       href="#{{this.hashtagValue}}">{{this.hashtagValue}}</a>
                </li>
                {{/each}}
            </ul>
            <div class="tab-content">
                <div id="default" class="container tab-pane active"><br>
                    <h5>Top Hashtags</h5>
                    <p>The hashtags classifications will be displayed using various techniques, such as word clouds,
                        charts etc.</p>
                    <p>In the table on the right, please select the one you wish to view.</p>
                </div>
                {{#each hashtagResultsList}}
                <div id="{{this.hashtagValue}}" class="container tab-pane fade" data-rumour="{{this.countOfRumours}}" data-non-rumour="{{this.countOfNonRumours}}"><br>
                    {{> partials/visualisation-board value=this.hashtagValue }}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="hashtag-table">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Hashtags</h5>
                    <hr>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Hashtag</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each hashtagResultsList}}
                        <tr data-toggle="tooltip" data-placement="bottom" title="Click to view {{this.hashtagValue}} stats">
                            <th scope="row">{{increment @index}}</th>
                            <td>
                                <div class="radiotext">
                                    <label for="{{this.hashtagValue}}RadioInput">{{this.hashtagValue}}</label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                    <label>
                                        <input type="radio" id="{{this.hashtagValue}}RadioInput"
                                               name="hashtagRadioGroup"
                                               data-target="#{{this.hashtagValue}}">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-1 mt-1">
        <div class="raw-row-data">
            <ul class="nav nav-tabs mr-auto d-none" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#none">Default Tab</a>
                </li>
                {{#each hashtagResultsList}}
                <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab"
                       href="#{{this.hashtagValue}}RawData">{{this.hashtagValue}} Raw Data</a>
                </li>
                {{/each}}
            </ul>
            <div class="tab-content">
                <div id="none" class="container tab-pane active"><br>
                </div>

                {{#each hashtagResultsList}}
                <div id="{{this.hashtagValue}}RawData" class="container tab-pane fade"
                     data-size="{{this.totalCountOfClassifications}}"><br>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Raw Data for #{{this.hashtagValue}}</h5>
                            <hr>
                            <div class="total-results-tip justify-content-center text-right" id="{{this.hashtagValue}}PaginationTip">
                                <p>Total results: {{this.totalCountOfClassifications}}</p>
                            </div>
                            <div id="{{this.hashtagValue}}Table"></div>
                            <div class="justify-content-center">
                                <nav>
                                    <ul class="pagination justify-content-center" id="{{this.hashtagValue}}Pagination"></ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
</div>

<script src="/assets/js/hashtags.js" type="text/javascript"></script>

{{/partial}}
{{> master path="hashtags"}}